.listbox-container {
    display: flex;
}

.listbox-container-title {
    font-weight: 700;
    font-size: 18px;
    padding-top: 13px;
}

.options-container {
    margin-left: 10px;
    min-height: 50px;
    position: relative;
    width: 170px;
    border-radius: 4px;
}

.button-filter {
    background: none;
    border: none;
    background-color: #901C1C;
    border-radius: 4px;
    color: #fff;
    font-size: 18px;
    width: 170px;
    display: flex;
    justify-content: space-between;
    padding: 15px 0 15px 10px;
    font-weight: 700;
    font-family: "DM Sans", sans-serif;
}

.button-filter:hover {
    cursor: pointer;
}

.button-filter i {
    position: absolute;
    z-index: 20;
    right: 0;
    top: 0;
    height: 50px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
}

.hidden {
    display: none!important;
}


.filtres {
    display: none;
    position: absolute;
    width: 170px;
    top: 0;
    z-index: 15;
    border-radius: 4px;
}
  
.filtres--liste {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background: #901C1C;
    width: 170px;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    font-family: "DM Sans", sans-serif;
    border-radius: 4px;
    overflow: hidden;
}

.filtres--liste_option {
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    padding: 10px;
    width: 100%;
}

.filtres--liste_option:hover, .filtres--liste_option.focused {
    background: #D3573C;
}

.filtres--liste_option::before {
    content:"";
    width: 90%;
    position: absolute;
    height: 1px;
    background-color: #fff;
    bottom: 0;
    left: 5%;
}

.filtres--liste_option:last-child:before {
    display: none;
}