
main {
    position: relative;
}

a:link {
    text-decoration: none;
}

.photograph-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FAFAFA;
    height: 300px;
    min-width: 900px;
    padding: 0 30px;
    margin-bottom: 20px;
}

.photograph-header-content {
    width: 100%;
    min-width: 840px;
    margin: 30px 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.photograph-header-title {
    display: flex;
    flex-direction: column;
}

.open-form {
    font-size: 20px;
    font-weight: 700;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 60px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}
.open-form:hover {
    background-color: #DB8876;
    color: black;
}
    

.gallery-title {
    color: #D3573C;
    margin: 5px 0;
    font-size: 64px;
    font-weight: 400;
}

.photograph-header-title p:nth-child(2) {
    color: #901C1C;
    font-size: 24px;
    font-weight: 400;
    margin: 0;
}

.photograph-header-title p:nth-child(3) {
    font-size: 18px;
    font-weight: 400;
}

.photograph-header-photo img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.likes-price-box {
    display: flex;
    flex-direction: row;
    flex: 2;
    background-color: #DB8876;
    color: black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 30px;
    padding: 15px;
    font-size: 24px;
    font-weight: 500;
}

.likes-box {
    display: flex;
    flex-direction: row;
    order: 1;
    margin-right: 30px;
}

#total-likes {
    order: 0;
    margin-right: 5px;
}

.heart-icon {
    order: 2;
}

#price {
    order: 3;
}

.photograph-gallery {
    margin-top: 110px;
    min-width: 900px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 70px;
}

.media-card-container {
    min-width: 30%;
    width: 400px;
    max-height: 350px;
}

.img-small, .video-small {
    min-width: 100%;
    width: auto;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
}

.button-img-small, .button-video-small {
    display: flex;
    width: 100%;
    height: 22vw;
    overflow: hidden;
    padding: 0%;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background: none;
}

.button-img-small:hover, .button-video-small:hover {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

.footer-card, .footer-likes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}    

.footer-card {
    margin-top: 10px;
}

.footer-card p {
    margin: 0;
    color: #901C1C;
    font-size: 24px;
    font-weight: 500;
}

.footer-card h2 {
    margin: 0;
    color: #901C1C;
    font-size: 24px;
    font-weight: 400;
}

.icon-card:hover {
    cursor: pointer;
    margin-left: 10px;
}

.icon-card {
    color: #901C1C;
    margin-left: 10px;
}

.backdrop {
    opacity: 0;
    display: none;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.808);
}

.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
            clip-path: inset(50%) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: now-rap !important;
}

/************************/
/**    CONTACT FORM    **/
/************************/

#contact_modal {
    z-index: 25;
    position: fixed;
    top: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
}

#form label {
    font-size: 36px;
    font-weight: 400;
}

.modal {
    margin: 0 auto;
    border-radius: 5px;
    background-color: #DB8876;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    
}

.modal header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 30px;
    position: relative;
}

.icon-close-form {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
}

.button-close-form {
    border: none;
    background: none;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.submit-button:hover {
    background-color: #DB8876;
    color: black;
    border: 2px solid #fff;
}

.modal-title, .name-contact {
    font-size: 64px;
    font-weight: 400;
    margin: 0;
    color: black;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 20px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

#message {
    height: 150px;
}

.submit-button {
    font-size: 18px;
    font-weight: 700;
    color: white;
    padding: 11px;
    width: 170px;
    height: 60px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

/************************/
/**      LIGHTBOX      **/
/************************/

.lightbox {
    z-index: 25;
    position: fixed;
    top: 0;
    margin: auto;
    display: none;
    flex-direction: row;
    width: 100%;
    left: 0;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.lightbox--content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

.open-lightbox:hover {
    cursor: pointer;
}

.lightbox--close {
    font-size: 60px;
    color: #901C1C;
    font-weight: 300;
    position: absolute;
    top: -25px;
    right: -50px;
    border: none;
    background: none;
    padding: 0;
}

.next, .prev {
    cursor: pointer;
    font-size: 50px;
    color: #901C1C;
    background: none;
    border: none;
    font-weight: 300;
    position: absolute;
}

.next {
    right: -40px;
}

.prev {
   left: -40px;
}

.lightbox--close:hover {
    cursor: pointer;
}

.lightbox--slide {
    width: auto;
    height: auto;
    margin: 0 auto;
}

.slides {
    width: 750px;
    height: 700px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    overflow: hidden;
}

.img-slide, .video-slide {
    width: 100%;
    height: 670px;
    object-fit: cover;
    border-radius: 7px;
}

.title-slide {
    display: flex;
    color: #901C1C;
    font-size: 24px;
    font-weight: 400;
    margin: 0;
}